body {
    background-color: #bbdff9
}

a{
    text-decoration: none;
    color: green;
}

ol,ul{
    color:purple; font-size:150%;font-family:Rockwell;
}

.secondpage{
    color:red; font-size:300%;font-family:Verdana;
}

