body {
    background-color: #bbdff9
}

a{
    text-decoration: none;
    color: green;
    
   
}

ol,ul{
    color:purple; font-size:150%;font-family:Rockwell;
}

h2,h3{
    color:red; font-size:300%;font-family:Verdana;
}